.bir_mainbtn_iteminfo {
  color: var(--text-muted);
  line-height: var(--line-height-tight);
}


.bir_quicksrch_item {
/*	border: 1px solid var(--background-modifier-border);	*/
}

.bir_quicksrch_iteminfo {
  color: var(--text-muted);
  line-height: var(--line-height-tight);
}

.bir_quicksrch_iteminfo_address {
/*  color: var(--color-orange);*/
/*  color: var(--text-accent-hover);*/
  color: var(--text-warning);
  line-height: var(--line-height-tight);
}

.bir_personCandidate_cnt {
  position: relative;
  padding: 0.4em 0.9em;
  border: 1px solid var(--background-modifier-border);
}
.bir_personCandidate_cnt.sendBtn {
  border: none;
  border-radius: var(--button-radius);
  height: var(--input-height);
  color: var(--text-on-accent); background-color: var(--interactive-accent);
  text-align: center;
  font-size: var(--font-ui-small);
  padding: var(--size-4-1) var(--size-4-3);
  user-select: none;
  white-space: nowrap;
  outline: none;
}
.bir_personCandidate_cnt.sendBtn > .sendBtnDisabled {
  cursor: not-allowed;
  opacity: 0.7;
}
.bir_personCandidate_cnt.selected {
/*  color: var(--text-success);*/
  &:before {
    content: "•";
    color: var(--text-success);
    position: absolute; left: 0.2em;
    width:2em; height: 2em;
  }
}
.bir_personCandidate_cnt.selected > .bir_personCandidate_title {
/*  text-decoration: underline;*/
/*  border-bottom: var(--border-width) solid var(--text-success);*/
  &:after {
    width: 100%;
  }
}

.bir_personCandidate_title {
  font-weight: 600;
  position: relative;
  display: inline-block;
  &:after {
    content: ''; width: 0%;
    position: absolute; left: 0; bottom: -1px; height: 1px;
    background: linear-gradient(to right, var(--text-success) 0%, var(--color-base-100) 35%); background-repeat: repeat-x; background-position: 0 100%; background-size: 100% 1px;
    overflow: hidden;
    transition: .1s ease-in;
  }
}
.bir_personCandidate_iteminfo {
  padding-left: 2em;
  color: var(--text-muted);
  line-height: var(--line-height-tight);
}