.bir_mainbtn_iteminfo {
  color: var(--text-muted);
  line-height: var(--line-height-tight);
}


.bir_quicksrch_item {
/*	border: 1px solid var(--background-modifier-border);	*/
}

.bir_quicksrch_iteminfo {
  color: var(--text-muted);
  line-height: var(--line-height-tight);
}

.bir_quicksrch_iteminfo_address {
  color: var(--color-orange);
  line-height: var(--line-height-tight);
}